@{
    ViewData["Title"] = "Home Page";
}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <div class="text-center">
            <img style="margin: 0 auto;" class="display-4" width="450px" height="150px" src="images/MakeArt_Logo.png" />
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>
