<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoTienda2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoTienda2.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom d-lg-none">
        <ul class="navbar-nav flex-fill d-flex flex-column">
            <li class="nav-item text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-home fa-2x"></i>
                    <span class="d-block">Home</span>
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-star fa-2x"></i>
                    <span class="d-block">Favorites</span>
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-comment fa-2x"></i>
                    <span class="d-block">Chat</span>
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-user fa-2x"></i>
                    <span class="d-block">Login</span>
                </a>
            </li>
        </ul>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom d-none d-lg-flex">
        <ul class="navbar-nav flex-fill">
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-home fa-2x"></i>
                    <span class="d-block">Home</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-search fa-2x"></i>
                    <span class="d-block">Search</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-star fa-2x"></i>
                    <span class="d-block">Favorites</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-comment fa-2x"></i>
                    <span class="d-block">Chat</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-user fa-2x"></i>
                    <span class="d-block">Login</span>
                </a>
            </li>
        </ul>
    </nav>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
