<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Make-Art</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoTienda2.styles.css" asp-append-version="true" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom d-none d-lg-flex">
        <ul class="navbar-nav flex-fill">
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home fa-2x"></i>
                    <span class="d-block">Home</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-search fa-2x"></i>
                    <span class="d-block">Search</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-star fa-2x"></i>
                    <span class="d-block">Favorites</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-comment fa-2x"></i>
                    <span class="d-block">Chat</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#" id="btn">
                    <i class="fas fa-user fa-2x"></i>
                    <span class="d-block">Register</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script type="module">
    import Swal from 'https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/+esm'
 
document.getElementById("btn").addEventListener("click", function() {

    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-primary btn-lg',
            cancelButton: 'btn btn-secondary btn-lg'
        },
        buttonsStyling: false
    })

    swalWithBootstrapButtons.fire({
        title: 'Elige el tipo de inicio de sesion',
        text: "¿Eres un artista o un cliente?",
        showCancelButton: true,
        confirmButtonText: 'ARTISTA',
        cancelButtonText: 'CLIENTE',
        reverseButtons: true
    }).then((result) => {
        if (result.isConfirmed) {
           
                VistaRegisterArtista()
           
        } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
        ) {
                VistaRegisterCliente()
        }
    })
})

    function VistaRegisterArtista() {
        var url = '@Url.Action("RegisterArtista", "Managed")';
        window.location.href = url;
    }

    function VistaRegisterCliente() {
        var url = '@Url.Action("RegisterCliente", "Managed")';
        window.location.href = url;
    }

</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
